.dialogs {
	display: grid;
	grid-template-columns: 3fr 9fr;
}
.dialogsItems {
	padding: 10px;
	border: 1px solid black;
}
.messagesItems {
	padding: 10px;
	border: 1px solid black;
}
.input {
	margin-left: 35%;
}